@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.range-container, .range-container * {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  line-height: normal !important;
	font: inherit;
	vertical-align: baseline;
}

.range-container {
  padding: 0.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
}

.range {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 70%;
}

.range-container span {
  width: 2em;
  padding: 0 0.25em;
  border-radius: 12px;
  background-color: black;
  grid-column-start: 5;
  grid-column-end: 6;
  text-align: right;
  font-family: "VT323", monospace;
  color: greenyellow;
  font-size: 30px;
}

.icon {
  stroke: #faebd7;
  stroke-width: 1px;
  height: 2em;
  width: 2.5em;
  padding-left: 1em;
}
