.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body, #root{
  height: 100%;
  overflow: auto;
}

/* #toggle-theme{
  margin: 0 auto;
  display: block
}

.dark-mode{
  overflow: auto;
  height: 100vh;
  background-color: #363537;
  color: #FAFAFA;
}

.light-mode{
  overflow: auto;
  height: 100vh;
  background-color: #FFFFFF;
  color: #363537;
} */

.App-link {
  color: #61dafb;
}

.navbar{
  border: 1px solid grey;
  background: #FFAFBD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
